<main>
    <!-- <div class="container-filter">
    <div class="search-container">
      <input type="text" placeholder="Buscar donador por cédula" [(ngModel)]="searchCedula"
        (keyup.enter)="searchByCedula()">
      <button class="btn-filter" (click)="searchByCedula()"><fa-icon
          [icon]="faMagnifyingGlass"></fa-icon>Filtrar</button>
      <button class="btn-clear" (click)="clearSearch()"><fa-icon [icon]="faXmark"></fa-icon>Eliminar</button>
    </div>
  </div> -->
    <div class="participants-container">
        <div class="header-container">
            <h2>Lista de Participantes</h2>
            <div class="acciones-box">
                <button class="btn-open-modal" (click)="generarReporteExcel()">Reporte <fa-icon
                        [icon]="faFileCsv"></fa-icon></button>
                <button class="btn-open-modal" (click)="abrirModal()">+ Donación</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="participants-table">
                <thead>
                    <tr>
                        <!-- <th>N°</th> -->
                        <th>Participante</th>
                        <th>Cédula</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Dirección</th>
                        <th>Fecha Nacimiento</th>
                        <th>Fecha registro Registrado</th>
                        @if(userRole === 'Administrador'){
                        <th>Opciones</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (part of participants; track part.id_participante) {
                    <tr>
                        <!-- <td>{{ part.id_participante }}</td> -->
                        <td>{{ part.nombres }}</td>
                        <td>{{ part.cedula }}</td>
                        <td>{{ part.telefono }}</td>
                        <td>{{ part.correo }}</td>
                        <td>{{ part.direccion }}</td>
                        <td>{{ part.fecha_nacimiento | date:'dd/MM/yyyy' }}</td>
                        <td>{{ part.fecha_registro | date:'dd/MM/yyyy' }}</td>
                        @if (userRole === 'Administrador') {
                        <td>
                            <div class="action-buttons">
                                <button title="editar" class="btn-editar" (click)="abrirEditModal(part)"><fa-icon
                                        [icon]="faPen"></fa-icon></button>
                                <button class="btn-eliminar" (click)="deleteParticipant(part.id_participante)"><fa-icon
                                        [icon]="faTrash"></fa-icon></button>
                            </div>
                        </td>
                        }

                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    @if (mostrarModal) {
    <div class="overlay">
        <div class="modal-participants-container">
            <div class="container-header-form">
                <img class="form-logo" src="/image/logo_foundation.png" alt="" draggable="false">
                <h2>Registrar participante</h2>
            </div>

            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-participants" [formGroup]="form" (ngSubmit)="insertParticipant()">
                <div class="form-group">
                    <label>Nombres completo <span>*</span></label>
                    <input type="text" name="nombre" formControlName="nombres" required placeholder="nombres completo">
                </div>

                <div class="form-group">
                    <label>Documento de identidad <span>*</span></label>
                    <input type="text" name="cedula" formControlName="cedula" required
                        placeholder="documento de identidad">
                </div>

                <div class="form-group">
                    <label>Número telefónico <span>*</span></label>
                    <input type="text" name="telefono" formControlName="telefono" placeholder="número telefónico"
                        required>
                </div>

                <div class="form-group">
                    <label>Correo electrónico <span>*</span></label>
                    <input type="email" name="correo" formControlName="correo" placeholder="correo electrónico"
                        required>
                </div>

                <div class="form-group">
                    <label>Dirección <span>*</span></label>
                    <input type="text" name="direccion" formControlName="direccion"
                        placeholder="Dirección del participante" required>
                </div>

                <div class="form-group">
                    <label>Fecha de nacimiento:</label>
                    <input type="date" formControlName="fecha_nacimiento" />
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Registrar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }


    @if (mostrarEditModal) {
    <div class="overlay">
        <div class="modal-participants-container">
            <div class="container-header-form">
                <img class="form-logo" src="/image/logo_foundation.png" alt="" draggable="false">
                <h2>Actualizar participante</h2>
            </div>

            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-participants" [formGroup]="form" (ngSubmit)="updateParticipant()">
                <div class="form-group">
                    <label>Nombres completo <span>*</span></label>
                    <input type="text" name="nombre" formControlName="nombres" required placeholder="nombres completo">
                </div>

                <div class="form-group">
                    <label>Documento de identidad <span>*</span></label>
                    <input type="text" name="cedula" formControlName="cedula" required
                        placeholder="documento de identidad">
                </div>

                <div class="form-group">
                    <label>Número telefónico <span>*</span></label>
                    <input type="text" name="telefono" formControlName="telefono" placeholder="número telefónico"
                        required>
                </div>

                <div class="form-group">
                    <label>Correo electrónico <span>*</span></label>
                    <input type="email" name="correo" formControlName="correo" placeholder="correo electrónico"
                        required>
                </div>

                <div class="form-group">
                    <label>Dirección <span>*</span></label>
                    <input type="text" name="direccion" formControlName="direccion"
                        placeholder="Dirección del participante" required>
                </div>

                <div class="form-group">
                    <label>Fecha de nacimiento:</label>
                    <input type="date" formControlName="fecha_nacimiento" />
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Actualizar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarEditModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }
</main>