main {
    padding: 20px;
    width: 100dvw;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container-form-eran {
    width: 100%;
    box-shadow: 1px 1px 10px #00000027;
}

.container-title {
    width: 100%;
    background-color: #0d4b7a;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title h2 {
    font-weight: 500;
    font-size: 17px;
}

.conteiner-form {
    width: 100%;
    background-color: #eeeeee;
    padding: 20px;
    gap: 20px;

}

.conteiner-form form,
.conteiner-form button {
    width: 100%;
}

.conteiner-form form button {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #0d4b7a;
    color: #fff;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px 10px;
    background-color: #ececec;
    border: 1px solid #e0e0e0;
}

.form-group textarea {
    width: 100%;
    padding: 5px 7px;
    resize: none;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    width: 200px;
    box-shadow: 1px 1px 10px #00000027;
}