<main>

    <div class="warehouse-container">
        <div class="header-container">
            <h2>Administrar Usuario</h2>
            <button class="btn-open-modal" (click)="abrirModal()">+ Usuario</button>
        </div>
        <div class="table-responsive">
            <table class="warehouse-table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Activo</th>
                        <th>Fecha</th>
                        <th *ngIf="userRole === 'Administrador'" >Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.id_usuario }}</td>
                        <td>{{ user.nombre_usuario }}</td>
                        <td>{{ user.rol_usuario }}</td>
                        <td>{{ user.cuenta_activa }}</td>
                        <td>{{ user.fecha_creacion }}</td>
                        <td *ngIf="userRole === 'Administrador'">
                            <div class="action-buttons">
                                <button title="editar" class="btn-editar" (click)="abrirEditModal(user)"><fa-icon
                                        [icon]="faPen"></fa-icon></button>
                                <!-- Botón Eliminar visible solo para Administrador -->
                                <button class="btn-eliminar"
                                    (click)="deleteUser(user.id_usuario)"><fa-icon [icon]="faTrash"></fa-icon></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal con nuevo control flow @if -->
    @if (mostrarModal) {
    <div class="overlay">
        <div class="modal-container-warehouse">
            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-warehouse" (ngSubmit)="submitUser()" [formGroup]="form">

                <h2>Registrar Usuario</h2>

                <div class="form-group">
                    <label>Usuario <span>*</span></label>
                    <input type="text" formControlName="nombre_usuario" placeholder="Nombre del usuario" required>
                </div>

                <div class="form-group form-select">
                    <label >Rol <span>*</span></label>
                    <select id="user-role" name="role" formControlName="rol_usuario" class="input-select" required>
                        <option value="" disabled selected>Seleccione un rol</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Trabajador">Trabajador</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Password<span>*</span></label>
                    <input type="password" formControlName="password" placeholder="••••••••" required>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Crear usuario</button>
                    <button type="button" class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }

    @if (mostrarEditModal) {
    <div class="overlay">
        <div class="modal-container-warehouse">
            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-warehouse" (ngSubmit)="updateSubmit()" [formGroup]="formEdit">

                <h2>Acrualizar Usuario</h2>

                <div class="form-group">
                    <label>Usuario <span>*</span></label>
                    <input type="text" formControlName="nombre_usuario" placeholder="Nombre del usuario" required>
                </div>

                <div class="form-group">
                    <label>Password<span>*</span></label>
                    <input type="password" formControlName="password" placeholder="••••••••">
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="formEdit.invalid">Actualizar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarEditModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }
</main>