<main>
    <div class="container-filter">
        <div class="search-container">
            <div class="container-cedula">
                <label for="">Filtrar usuarios por elementos</label>
                <input type="text" placeholder="Nombre de usuario" [(ngModel)]="searchUser" name="searchUser">
            </div>
            <button class="btn-filter" (click)="searchByUser()"><fa-icon
                    [icon]="faMagnifyingGlass"></fa-icon>Filtrar</button>
            <button class="btn-clear" (click)="clearSearch()"><fa-icon [icon]="faXmark"></fa-icon>Limpiar</button>
        </div>
    </div>
    <div class="users-container">
        <div class="header-container">
            <h2>Administrar Usuario</h2>
            <button class="btn-open-modal" (click)="abrirModal()">+ Usuario</button>
        </div>
        <div class="table-responsive">
            <table class="users-table">
                <thead>
                    <tr>
                        <!-- <th>N°</th> -->
                        <th>Nombres</th>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Activo</th>
                        <th>Fecha</th>
                        @if (userRole === 'Administrador') {
                        <th>Opciones</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (user of users; track user.id_usuario) {
                    <tr>
                        <!-- <td>{{ user.id_usuario }}</td> -->
                        <td>{{ user.nombre_usuario }}</td>
                        <td>{{ user.rol_usuario }}</td>
                        <td>{{ user.cuenta_activa }}</td>
                        <td>{{ user.fecha_creacion | date:'dd/MM/yyyy'}}</td>
                        @if (userRole === 'Administrador') {
                        <td>
                            <div class="action-buttons">
                                <button title="editar" class="btn-editar" (click)="abrirEditModal(user)"><fa-icon
                                        [icon]="faPen"></fa-icon></button>
                                <button class="btn-eliminar" (click)="deleteUser(user.id_usuario)"><fa-icon
                                        [icon]="faTrash"></fa-icon></button>
                            </div>
                        </td>
                        }
                    </tr>
                    }@empty {
                    <tr>
                        <td colspan="9">No hay usuarios registrados</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal con nuevo control flow @if -->
    @if (mostrarModal) {
    <div class="overlay">
        <div class="modal-container-users">

            <div class="container-header-form">
                <img class="form-logo" src="/image/logo_foundation.png" alt="" draggable="false">
                <h2>Registrar usuario</h2>
            </div>

            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-users" (ngSubmit)="submitUser()" [formGroup]="form">

                <div class="container-date-user">
                    <div class="container-name">
                        <div class="form-group">
                            <label>Nombres completo <span>*</span></label>
                            <input type="text" formControlName="nombres_completo" placeholder="nombres completo"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Apellidos completo <span>*</span></label>
                            <input type="text" formControlName="apellidos_completos" placeholder="apellidos completo"
                                required>
                        </div>
                    </div>
                    <div class="container-date">
                        <div class="form-group">
                            <label>Fecha de nacimiento:</label>
                            <input type="date" formControlName="fecha_nacimiento" />
                        </div>
                        <div class="form-group">
                            <label>Genero <span>*</span></label>
                            <select formControlName="genero" name="genero">
                                <option value="" disabled>Genero</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Nombre de usuario <span>*</span></label>
                    <input type="text" formControlName="nombre_usuario" placeholder="nombre de usuario" required>
                </div>

                <div class="form-group">
                    <label>Número telefónico <span>*</span></label>
                    <input type="text" name="telefono" formControlName="numero_telefono" placeholder="número telefónico"
                        required>
                </div>

                <div class="form-group">
                    <label>Correo <span>*</span></label>
                    <input type="text" formControlName="correo" placeholder="correo@gmail.com" required>
                </div>

                <div class="form-group form-select">
                    <label>Rol de usuario<span>*</span></label>
                    <select id="user-role" name="role" formControlName="rol_usuario" class="input-select" required>
                        <option value="" disabled selected>Seleccione un rol</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Trabajador">Trabajador</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Password<span>*</span></label>
                    <input type="password" formControlName="password" placeholder="••••••••" required>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Registrar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }

    @if (mostrarEditModal) {
    <div class="overlay">
        <div class="modal-container-users">
            <div class="container-header-form">
                <img class="form-logo" src="/image/logo_foundation.png" alt="" draggable="false">
                <h2>Actualizar usuario</h2>
            </div>

            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-users" (ngSubmit)="updateSubmit()" [formGroup]="formEdit">

                <div class="form-group">
                    <label>Nombre de usuario <span>*</span></label>
                    <input type="text" formControlName="nombre_usuario" placeholder="nombre de usuario" required>
                </div>

                <div class="form-group">
                    <label>Password<span>*</span></label>
                    <input type="password" formControlName="password" placeholder="••••••••">
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="formEdit.invalid">Actualizar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarEditModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }
</main>