<main class="caja-container">
    <div class="container-filter">
        <div class="search-container">
            <select name="searchClasification" [(ngModel)]="searchTransactions">
                <option value="" disabled>Clasificación</option>
                <option value="Ingreso">Ingreso</option>
                <option value="Egreso">Egreso</option>
            </select>
            <input type="date" [(ngModel)]="startDate" />
            <input type="date" [(ngModel)]="endDate" />
            <button class="btn-filter" (click)="searchTransaction()">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon> Filtrar
            </button>
            <button class="btn-clear" (click)="clearSearch()">
                <fa-icon [icon]="faXmark"></fa-icon> Eliminar
            </button>
        </div>
    </div>
    <div class="cash-container">
        <div class="header-container">
            <h2>Sistema de caja</h2>
            <div class="acciones-box">
                <button class="btn-open-modal" (click)="abrirModal()">+ Transacción</button>
                <!-- <button class="btn-descargar" (click)="descargarReportePDF()">
                    <i class="fa fa-download"></i> Descargar reporte
                </button> -->
            </div>
        </div>

        <div class="resumen-boxes">
            <div><strong>Saldo actual:</strong> ${{ saldoActual.toFixed(2) }}</div>
            <div class="ingresos-box">
                <span class="badge verde">{{ contarIngresos() }}</span>
                <strong>Total de ingresos:</strong> ${{ totalIngresos.toFixed(2) }}
            </div>
            <div class="egresos-box">
                <span class="badge rojo">{{ contarEgresos() }}</span>
                <strong>Total de egresos:</strong> ${{ totalEgresos.toFixed(2) }}
            </div>
        </div>
        <div class="table-responsive">
            <table class="cash-table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Tipo</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Razón</th>
                        <!-- <th>Opciones</th> -->
                    </tr>
                </thead>
                <tbody>
                    @for (trans of transactions; track trans.id_transaccion;) {
                    <tr>
                        <td>{{ trans.id_transaccion }}</td>
                        <td>{{ trans.tipo_transaccion }}</td>
                        <td [class.ingreso]="trans.tipo_transaccion === 'Ingreso'"
                            [class.egreso]="trans.tipo_transaccion === 'Egreso'">
                            ${{ trans.monto }}
                        </td>
                        <td>{{ trans.fecha_transaccion | date:'shortDate' }}</td>
                        <td>{{ trans.razon }}</td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="6" class="no-data">No hay transacciones registradas</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal para Editar Monto Inicial -->
    <!-- @if (mostrarModalEditarMonto) {
    <div class="modal">
        <div class="modal-contenido">
            <span class="cerrar-modal" (click)="mostrarModalEditarMonto = false">&times;</span>
            <h3>Editar Monto inicial</h3>
            <p>Todos los campos con "*" son obligatorios</p>

            <form [formGroup]="initialBalanceForm" (ngSubmit)="actualizarMontoInicial()">
                <div class="form-group">
                    <label for="montoInicial">Monto*</label>
                    <input type="number" id="montoInicial" formControlName="monto_inicial" step="0.01"
                        min="0" placeholder="Ingresa Monto Inicial" required>
                </div>

                <div class="form-group">
                    <label for="fechaTransaccion">Fecha de Transacción*</label>
                    <input type="date" id="fechaTransaccion" formControlName="fecha" required>
                </div>

                <button type="submit" class="btn-actualizar" [disabled]="initialBalanceForm.invalid">Actualizar monto</button>
            </form>
        </div>
    </div>
    } -->

    <!-- Modal para Registrar Transacción -->
    @if (mostrarModal) {
    <div class="overlay">
        <div class="modal-container-cash">
            <!-- <span class="cerrar-modal" (click)="mostrarModalRegistrar = false; transactionForm.reset()">&times;</span> -->
            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <h3>Registrar Transacción</h3>

            <form class="form-cash" [formGroup]="form" (ngSubmit)="registerTransaction()">
                <div class="form-group">
                    <label for="tipoTransaccion">Tipo de Transacción <span>*</span></label>
                    <select id="tipoTransaccion" formControlName="tipo_transaccion" required>
                        <option value="">Seleccione...</option>
                        <option value="Ingreso">Ingreso</option>
                        <option value="Egreso">Egreso</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="montoTransaccion">Monto <span>*</span></label>
                    <input type="number" id="montoTransaccion" formControlName="monto" step="0.01" min="0.01"
                        placeholder="Ingrese el monto" required>
                </div>

                <div class="form-group">
                    <label for="id_razon">Razón <span>*</span></label>
                    <input type="text" id="nombre_razon" formControlName="razon" placeholder="nombre de la razón"
                        required>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Registrar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }
</main>