<main>
    <div class="container-filter">
        <div class="search-container">

            <div class="container-cedula">
                <label for="">Filtrar Inscripciones por elementos</label>
                <input type="text" placeholder="Cédula del inscrito" [(ngModel)]="searchRegistration"
                    name="searchCedula" maxlength="10" />
            </div>

            <div class="container-select">
                <div class="subcontainer-select">
                    <select name="searchTransactions" [(ngModel)]="searchStatus">
                        <option value="" disabled>Estado</option>
                        <option value="En Curso">En curso</option>
                        <option value="Finalizado">Finalizado</option>
                        <option value="Cancelado">Cancelado</option>
                    </select>
                    <select name="searchCourses" [(ngModel)]="searchCourses">
                        <option value="0" disabled>Buscar por curso</option>
                        @for (subj of subjects; track subj.id_materia) {
                        <option [value]="subj.id_materia">{{ subj.nombre_materia }}</option>
                        }
                    </select>
                </div>
            </div>

            <div class="container-date">
                <div class="container-startDate">
                    <label for="">Fecha inicio</label>
                    <input type="date" [(ngModel)]="startDate" name="startDate" />
                </div>
                <div class="container-endDate">
                    <label for="">Fecha fin (opcional)</label>
                    <input type="date" [(ngModel)]="endDate" name="endDate" />
                </div>
            </div>

            <button class="btn-filter" (click)="searchRegistrations()">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon> Filtrar
            </button>
            <button class="btn-clear" (click)="clearSearch()">
                <fa-icon [icon]="faXmark"></fa-icon> Limpiar
            </button>
        </div>
    </div>
    <div class="registrations-container">
        <div class="header-container">
            <h2>Lista de Inscripciones</h2>
            <div class="acciones-box">
                <button class="btn-open-modal" (click)="generarReporteExcel()">Reporte <fa-icon
                        [icon]="faFileCsv"></fa-icon></button>
                <button class="btn-open-modal" (click)="abrirModal()">+ Inscripción</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="registrations-table">
                <thead>
                    <tr>
                        <!-- <th>N°</th> -->
                        <th>Participante</th>
                        <th>Curso</th>
                        <th>Estado</th>
                        <th>Fecha Inscripción</th>
                        @if(userRole === 'Administrador'){
                        <th>Opciones</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (regi of registrations; track regi.id_inscripcion) {
                    <tr>
                        <!-- <td>{{ regi.id_inscripcion }}</td> -->
                        <td>{{ regi.nombres }}</td>
                        <td>{{ regi.nombre_materia }}</td>
                        <td>{{ regi.estado_inscripcion }}</td>
                        <td>{{ regi.fecha_inscripcion | date: 'dd/MM/yyyy'}}</td>
                        @if (userRole === 'Administrador') {
                        <td>
                            <div class="action-buttons">
                                <button title="editar" class="btn-editar" (click)="abrirEditModal(regi)"><fa-icon
                                        [icon]="faPen"></fa-icon></button>
                                <button class="btn-eliminar" (click)="deleteRegistration(regi.id_inscripcion)"><fa-icon
                                        [icon]="faTrash"></fa-icon></button>
                            </div>
                        </td>
                        }
                    </tr>
                    }@empty {
                    <tr>
                        <td colspan="9">No hay suscripciones registradas</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if (mostrarModal) {
    <div class="overlay">
        <div class="modal-registrations-container">
            <div class="container-header-form">
                <img class="form-logo" src="/image/logo_foundation.png" alt="" draggable="false">
                <h2>Registrar inscripción</h2>
            </div>

            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-registrations" [formGroup]="form" (ngSubmit)="insertRegistrations()">

                <div class="form-group form-participant">
                    <label>Participante <span>*</span></label>
                    <select formControlName="participante_id" required>
                        <option value="null" disabled>Seleccione un participante</option>
                        @for (part of participants; track part.id_participante) {
                        <option [value]="part.id_participante">{{ part.nombres }}</option>
                        }
                    </select>
                </div>

                <div class="form-group form-participant">
                    <label>Curso <span>*</span></label>
                    <select formControlName="curso_id" required>
                        <option value="null" disabled>Seleccione un curso</option>
                        @for (cour of courses; track cour.id_curso) {
                        <option [value]="cour.id_curso">{{ cour.nombre_materia }}</option>
                        }
                    </select>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Registrar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }

    @if (mostrarEditModal) {
    <div class="overlay">
        <div class="modal-registrations-container">
            <div class="container-header-form">
                <img class="form-logo" src="/image/logo_foundation.png" alt="" draggable="false">
                <h2>Actualizar inscripción</h2>
            </div>

            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-registrations" [formGroup]="form" (ngSubmit)="updateRegistration()">

                <div class="form-group form-participant">
                    <label>Participante <span>*</span></label>
                    <select formControlName="participante_id" required>
                        <option value="null" disabled>Seleccione un participante</option>
                        @for (part of participants; track part.id_participante) {
                        <option [value]="part.id_participante">{{ part.nombres }}</option>
                        }
                    </select>
                </div>

                <div class="form-group form-participant">
                    <label>Curso <span>*</span></label>
                    <select formControlName="curso_id" required>
                        <option value="null" disabled>Seleccione un curso</option>
                        @for (cour of courses; track cour.id_curso) {
                        <option [value]="cour.id_curso">{{ cour.nombre_materia }}</option>
                        }
                    </select>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Actualizar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarEditModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }

</main>