<main>
    <div class="container-filter">
        <div class="search-container">
            <input type="text" placeholder="Buscar entrega por cédula" [(ngModel)]="searchCedula"
                (keyup.enter)="searchDeliverieByCedula()">

            <!-- Nueva sección: filtro por fecha -->
            <input type="date" [(ngModel)]="startDate" />
            <input type="date" [(ngModel)]="endDate" />

            <button class="btn-filter" (click)="searchDeliverieByCedula()">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>Filtrar
            </button>
            <button class="btn-clear" (click)="clearSearch()">
                <fa-icon [icon]="faXmark"></fa-icon>Eliminar
            </button>
        </div>
    </div>
    <div class="donations-container">
        <div class="header-container">
            <h2>Registrar entrega</h2>
            <div class="container-button-register">
                <button class="btn-open-modal" (click)="abrirModalBeneficiarie()">+ Beneficiario</button>
                <button class="btn-open-modal" (click)="abrirModal()">+ Entrega</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="donations-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Beneficiario</th>
                        <th>Cédula</th>
                        <th>Donación entregada</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let deli of deliveries">
                        <td>{{ deli.entrega.id_entrega }}</td>
                        <td>{{ deli.nombres_beneficiario }}</td>
                        <td>{{ deli.cedula_beneficiario }}</td>
                        <td>{{ deli.detalle_donacion }}</td>
                        <td>{{ deli.entrega.fecha_entrega | date:'shortDate' }}</td>
                        <td>
                            <div class="action-buttons">
                                <!-- <button title="editar" class="btn-editar" (click)="abrirEditModal(bene)"><fa-icon
                                        [icon]="faPen"></fa-icon></button> -->
                                <!-- Botón Eliminar visible solo para Administrador -->
                                <button *ngIf="userRole === 'Administrador'" class="btn-eliminar"
                                    (click)="deleteDeliverie(deli.entrega.id_entrega)"><fa-icon
                                        [icon]="faTrash"></fa-icon></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- Modal con nuevo control flow @if -->
    @if (mostrarModal) {
    <div class="overlay">
        <div class="modal-container-deliverie">
            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-deliverie" (ngSubmit)="submit()" [formGroup]="form">
                <!--1. Sección Buscar Beneficiario -->
                <div class="form-group" class="search-donor">
                    <label>Buscar beneficiario <span>*</span></label>
                    <div class="input-group input-search-donor">
                        <div class="container-search">
                            <input type="text" [(ngModel)]="searchCedulaBeneficiario"
                                [ngModelOptions]="{ standalone: true }" name="searchCedula"
                                placeholder="Cédula del donante" required>

                            <button type="button" (click)="checkBeneficiario()" [disabled]="!searchCedulaBeneficiario">
                                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                            </button>
                        </div>
                        <!-- Mensajes de estado -->

                        <div style="color: green;" *ngIf="successMessage" class="alert alert-success">
                            {{ successMessage }}
                        </div>
                        <div style="color: red;" *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>

                    </div>
                </div>
                <!-- Sección Datos Donante -->
                <div class="container-info-donor">
                    <div class="form-group">
                        <label>Donador</label>
                        <input type="text" formControlName="nombres_beneficiario" placeholder="Nombres del beneficiario"
                            readonly required>
                    </div>
                    <div class="form-group">
                        <label>Cédula</label>
                        <input type="text" formControlName="cedula_beneficiario" placeholder="Cédula del beneficiario"
                            readonly required>
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" formControlName="direccion_beneficiario"
                            placeholder="dirección del beneficiario" readonly required>
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" formControlName="telefono_beneficiario"
                            placeholder="Teléfono del beneficiario" readonly required>
                    </div>
                </div>
                <!-- Sección Donación -->
                <div class="form-group">
                    <label>Producto a entregar <span>*</span></label>
                    <select formControlName="id_donacion" required>
                        <option [ngValue]="null" disabled>Seleccione un producto</option>
                        <option *ngFor="let product of products" [ngValue]="product.id_donacion">
                            {{ product.detalle_donacion }}
                        </option>
                    </select>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Registrar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarModal()"
                        [disabled]="isLoading">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }

    @if (mostrarModalBeneficiarie) {
    <div class="overlay">
        <div class="modal-container-beneficiarie">
            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-beneficiarie" [formGroup]="formBeneficiarie" (ngSubmit)="submitBeneficiarie()">
                <h2>Registrar Beneficiario</h2>
                <div class="form-group">
                    <label>Nombres <span>*</span></label>
                    <input type="text" name="nombre" formControlName="nombres_beneficiario" required
                        placeholder="Nombres completo del beneficiario">
                </div>

                <div class="form-group">
                    <label>Cédula <span>*</span></label>
                    <input type="text" name="cedula" formControlName="cedula_beneficiario" required
                        placeholder="Cédula del beneficiario">
                </div>

                <div class="form-group">
                    <label>Dirección <span>*</span></label>
                    <input type="text" name="cedula" formControlName="direccion_beneficiario" required
                        placeholder="Direccion del beneficiario">
                </div>

                <div class="form-group">
                    <label>Teléfono <span>*</span></label>
                    <input type="text" name="telefono" formControlName="telefono_beneficiario"
                        placeholder="Teléfono del beneficiario" required>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="formBeneficiarie.invalid">Registrar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarModalBeneficiarie()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }

</main>