main {
    padding: 20px;
    width: 100vw;
    height: calc(100vh - 110px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.donations-container {
    width: 100%;
    margin-top: 10px;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.header-container {
    padding: 10px;
    gap: 10px;
    border-top: 3px solid #0d4b7a;
    border-bottom: 1px solid #e0e0e0;
}

.header-container h2 {
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: none;
    color: #0a375e;
    font-size: 19px;
}

.acciones-box {
    display: flex;
    gap: 10px;
}

.btn-open-modal {
    background-color: #0a375e;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 15px;
}

.btn-open-modal:hover {
    background-color: #0d4b7a;
}

/* Estilos para la tabla de donaciones */
.table-responsive {
    overflow-x: auto;
    padding: 0 10px 10px 10px;
    height: calc(100vh - 430px);
}

.donations-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.donations-table th {
    background-color: #0a375e;
    color: white;
    font-weight: 500;
    padding: 7px 15px;
}

.donations-table thead th {
    position: sticky;
    top: 0;
    background-color: #0a375e;
    z-index: 2;
}

.donations-table td {
    padding: 7px 15px;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
    text-align: center;
}

.donations-table tr:not(:last-child) td {
    border-bottom: 1px solid #e0e0e0;
}

.donations-table tr:hover {
    background-color: #f8f9fa;
}

/* Botones de acción */
.btn-editar,
.btn-eliminar {
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    background-color: transparent;
}

.btn-editar:hover {
    color: #e0a800;
}

.btn-eliminar:hover {
    color: red;
}

/* Estilos del modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}


/*FORMULARIO DONACIONES*/
.modal-container-donation {
    background-color: #fff;
    border-radius: 0;
    padding: 40px 20px;
    height: auto;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: modalFadeIn 0.3s ease-out;
    margin: 0 20px;
}

.form-donation .search-donor label {
    font-weight: bold;
}

.form-donation .input-search-donor {
    margin-bottom: 10px;
}

.container-search-donor {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.form-donation .input-search-donor input {
    width: 250px;
    padding: 5px 20px;
}

.form-donation .input-search-donor button {
    padding: 5px 10px;
    border-radius: 0;
    background-color: #0a375e;
    color: #fff;
}

.form-donation .container-info-donor {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    font-size: 15px;
}

.form-donation .container-info-donor .form-group {
    width: 100%;
}

.form-donation .container-info-donation {
    width: 100%;
}

.form-donation .container-info-donation .container-donation {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    font-size: 15px;
}

.form-donation .container-donation .form-radio {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.container-donation .form-radio p {
    font-weight: bold;
    margin-bottom: 10px;
}

.container-donation .form-radio .container-option {
    display: flex;
    gap: 40px;
}

.form-donation .form-group label {
    font-weight: bold;
}

.form-radio .container-option label {
    display: flex;
    font-weight: 500;
    gap: 10px;
}

.container-info-donation .container-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.form-donation .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

/*FORMULARIO DEL DONADOR*/
.modal-donor-container {
    background-color: #fff;
    border-radius: 0;
    padding: 30px 20px;
    width: 100%;
    max-width: 350px;
    margin: 0 20px;
}

.modal-donor-container .form-donor h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.modal-donor-container .form-donor label {
    font-weight: 500;
}

.modal-donor-container .form-donor .form-group {
    margin-bottom: 10px;
}

.form-donor .button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/*GLOBALES*/
.container-header-modal {
    background-color: #B5FAFF;
    border: 1px solid #3CD0E0;
    margin-bottom: 10px;
}

.container-header-modal .required-text {
    color: #000;
    font-size: 15px;
    margin: 10px 10px;
}

.required-text span {
    color: red;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
}

.form-group label span {
    color: #d32f2f;
}

button {
    padding: 7px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 15px;
}

button[type="submit"] {
    background-color: #0a375e;
    color: white;
    border: none;
    flex: 1;
}

button[type="submit"]:hover {
    background-color: #0d4b7a;
}

button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.cancel-btn {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    flex: 1;
}

.cancel-btn:hover {
    background-color: #e0e0e0;
}

/* Animación opcional para el modal */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (min-width: 1024px) {

    /*FORMULARIO DONACIONES*/

    main {
        height: calc(100vh - 120px);
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .table-responsive {
        height: calc(100vh - 250px);
    }

    .form-donation .container-info-donor {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .form-donation .container-info-donation {
        display: flex;
        gap: 10px;
    }

    .container-donation .form-radio input {
        margin: 0;
    }

    .form-radio{
        padding-bottom: 10px;
    }
    
}