main{
    width: 100vw;
    height: calc(100vh - 110px);
    padding: 20px;
}

main .container-table{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container-table .logo{
    width: 400px;
    opacity: 0.3;
}

.container-table p{
    font-size: 25px;
    font-weight: 100;
    color: #686868;
}