<main>

    <div class="warehouse-container">
        <div class="header-container">
            <h2>Registrar Bodega</h2>
            <button class="btn-open-modal" (click)="abrirModal()">+ Bodega</button>
        </div>
        <div class="table-responsive">
            <table class="warehouse-table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Bodega</th>
                        <th>Ubicacion</th>
                        <th *ngIf="userRole === 'Administrador'">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ware of warehouses">
                        <td>{{ ware.id_bodega }}</td>
                        <td>{{ ware.nombre_bodega }}</td>
                        <td>{{ ware.ubicacion }}</td>
                        <td *ngIf="userRole === 'Administrador'">
                            <div class="action-buttons">
                                <button title="editar" class="btn-editar" (click)="abrirEditModal(ware)"><fa-icon
                                        [icon]="faPen"></fa-icon></button>
                                <!-- Botón Eliminar visible solo para Administrador -->
                                <button class="btn-eliminar"
                                    (click)="deleteWarehouse(ware.id_bodega)"><fa-icon
                                        [icon]="faTrash"></fa-icon></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal con nuevo control flow @if -->
    @if (mostrarModal) {
    <div class="overlay">
        <div class="modal-container-warehouse">
            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-warehouse" (ngSubmit)="submitWarehouse()" [formGroup]="form">

                <h2>Registrar Bodega</h2>

                <div class="form-group">
                    <label>Bodega <span>*</span></label>
                    <input type="text" formControlName="nombre_bodega" placeholder="Nombre de la bodega" required>
                </div>

                <div class="form-group">
                    <label>Ubicacion<span>*</span></label>
                    <input type="text" formControlName="ubicacion" placeholder="Nombre de la bodega" required>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Crear Bodega</button>
                    <button type="button" class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }

    @if (mostrarEditModal) {
    <div class="overlay">
        <div class="modal-container-warehouse">
            <div class="container-header-modal">
                <p class="required-text">Todos los campos con <span>*</span> son obligatorios</p>
            </div>

            <form class="form-warehouse" (ngSubmit)="updateWarehouse()" [formGroup]="form">

                <h2>Registrar Bodega</h2>

                <div class="form-group">
                    <label>Bodega <span>*</span></label>
                    <input type="text" formControlName="nombre_bodega" placeholder="Nombre de la bodega" required>
                </div>

                <div class="form-group">
                    <label>Ubicacion<span>*</span></label>
                    <input type="text" formControlName="ubicacion" placeholder="Nombre de la bodega" required>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="form.invalid">Crear Bodega</button>
                    <button type="button" class="cancel-btn" (click)="cerrarEditModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }
</main>