<main>
    <div class="container-filter">
        <div class="search-container">
            <div class="container-cedula">
                <label for="">Filtrar beneficiarios por elementos</label>
                <input type="text" placeholder="Cédula del beneficiario" [(ngModel)]="searchCedula" maxlength="10">
            </div>
            <button class="btn-filter" (click)="searchByCedula()"><fa-icon
                    [icon]="faMagnifyingGlass"></fa-icon>Filtrar</button>
            <button class="btn-clear" (click)="clearSearch()"><fa-icon [icon]="faXmark"></fa-icon>Eliminar</button>
        </div>
    </div>
    <div class="beneficiaries-container">
        <div class="header-container">
            <h2>Lista de Beneficiarios</h2>
            <div class="acciones-box">
                <button class="btn-open-modal" (click)="generarReporteExcel()">Reporte <fa-icon
                        [icon]="faFileCsv"></fa-icon></button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="beneficiaries-table">
                <thead>
                    <tr>
                        <!-- <th>N°</th> -->
                        <th>Beneficiario</th>
                        <th>Cédula</th>
                        <th>Direción</th>
                        <th>Teléfono</th>
                        <th>Fecha</th>
                        @if (userRole === 'Administrador') {
                        <th>Opciones</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (bene of beneficiaries; track bene.id_beneficiario) {
                    <tr>
                        <!-- <td>{{ bene.id_beneficiario }}</td> -->
                        <td>{{ bene.nombres_beneficiario }}</td>
                        <td>{{ bene.cedula_beneficiario }}</td>
                        <td>{{ bene.direccion_beneficiario }}</td>
                        <td>{{ bene.telefono_beneficiario }}</td>
                        <td>{{ bene.fecha_registro | date:'dd/MM/yyyy' }}</td>
                        <td *ngIf="userRole === 'Administrador'">
                            <div class="action-buttons">
                                <button title="editar" class="btn-editar" (click)="abrirEditModal(bene)"><fa-icon
                                        [icon]="faPen"></fa-icon></button>
                                <!-- Botón Eliminar visible solo para Administrador -->
                                <button class="btn-eliminar" (click)="deleteBeneficiarie(bene.id_beneficiario)"><fa-icon
                                        [icon]="faTrash"></fa-icon></button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal para editar donador -->
    @if (mostrarEditModal) {
    <div class="overlay">
        <div class="modal-container">
            <div class="container-header-form">
                <img class="form-logo" src="/image/logo_foundation.png" alt="" draggable="false">
                <h2>Editar beneficiario</h2>
            </div>

            <div class="container-header-modal">
                <p class="required-text">El campo con <span>*</span> es obligatorio</p>
            </div>

            <form class="form-beneficiarie" [formGroup]="editForm" (ngSubmit)="updateBeneficiarie()">
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" [value]="selectedBeneficiarie.nombres_beneficiario" readonly
                        class="readonly-input">
                </div>

                <div class="form-group">
                    <label>Cédula</label>
                    <input type="text" [value]="selectedBeneficiarie.cedula_beneficiario" readonly
                        class="readonly-input">
                </div>

                <div class="form-group">
                    <label>Dirección actual</label>
                    <input type="text" [value]="selectedBeneficiarie.direccion_beneficiario" readonly
                        class="readonly-input">
                </div>

                <div class="form-group">
                    <label>Numero telefónico actual</label>
                    <input type="text" [value]="selectedBeneficiarie.telefono_beneficiario" readonly
                        class="readonly-input">
                </div>

                <div class="form-group">
                    <label>Nueva Dirección <span>*</span></label>
                    <input type="text" formControlName="direccion_beneficiario" placeholder="Ingrese la nueva dirección"
                        required>
                </div>

                <div class="form-group">
                    <label>Nuevo numero telefónico <span>*</span></label>
                    <input type="text" formControlName="telefono_beneficiario" placeholder="Ingrese el nuevo teléfono"
                        maxlength="10" required>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="editForm.invalid">Actualizar</button>
                    <button type="button" class="cancel-btn" (click)="cerrarEditModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    }
</main>