/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #f1f1f1;
}

img {
    width: 100%;
}

/*ESTILO PARA EL CONTENDOR DE FILTROS*/
.container-filter {
    width: 100%;
}

.container-filter .search-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.search-container label{
    font-weight: bold;
    color: #0a375e;
    font-size: 15px;
}

.container-filter .search-container select,
.container-filter .search-container input {
    width: 100%;
    padding: 5px 20px;
}

.container-date{
    display: flex;
    width: 100%;
    gap: 10px;
}

.container-filter .search-container button {
    width: 100%;
    height: 20px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #0a375e;
}

.search-container button fa-icon {
    font-size: 12px;
}

/*VERSION DESTOCK*/

@media (min-width: 1024px) {
    .container-filter .search-container {
        flex-wrap: nowrap;
    }

    /* .container-filter .search-container button {
        width: auto;
    } */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
